#navbar {
  background-color: #3e3c3c;
}

.navbar-brand {
  color: #fff;
  transition: 2s;
  border-radius: 5px;
}

.navbar-brand:hover {
  color: #fff;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}